echo .vscode/ > .gitignore
echo *.sln >> .gitignore
echo *.csproj >> .gitignore
echo /Library/ >> .gitignore
echo /Logs/ >> .gitignore
echo /Temp/ >> .gitignore
echo /Packages/ >> .gitignore
echo /ProjectSettings/ >> .gitignore